# ==========================================
# KIS API Credentials
# ==========================================
KIS_MODE=MOCK # REAL or MOCK
SIMULATION_MODE=True # True: Virtual trading log, False: Execute real orders on KIS account

# KIS Real Account Key (Required if KIS_MODE=REAL)
KIS_REAL_APPKEY=
KIS_REAL_APPSECRET=

# KIS Mock Account Key (Required if KIS_MODE=MOCK and using KIS servers)
KIS_MOCK_APPKEY=
KIS_MOCK_APPSECRET=

# Account Info
KIS_CANO=
KIS_ACNT_PRDT_CD=01
